* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background-color: #fff;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.quiz__wrapper {
  width: 100%;
  max-width: 775px;
  margin: auto;
  padding: 50px 40px 40px;
  border-radius: 10px;
  background-color: dodgerblue;
}

.quiz__body {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.quiz__result {
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

.quiz__play_again {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz__img {
  display: inline-block;
  max-width: 300px;
  margin-bottom: 20px;
}

.quiz__btn {
  width: 100%;
  max-width: 300px;
  padding: 14px 10px;
  border: 1px solid #fff;
  border-radius: 7px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #fff;
  background-color: darkblue;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }
}