* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background-color: #fff;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', sans-serif;
}

.App {
  height: 100vh;
  display: flex;

  @media screen and (max-width: 800px) {
    height: 100%;
    min-height: 100vh;
  }
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  text-align: center;

  @media screen and (max-width: 500px) {
    font-size: 32px;
    line-height: 42px;
  }
}

.quiz__wrapper {
  position: relative;
  width: 100%;
  max-width: 775px;
  min-height: 550px;
  margin: auto;
  padding: 50px 40px 40px;
  border-radius: 10px;
  background-color: dodgerblue;

  @media screen and (max-width: 800px) {
    min-height: 100%;
    padding: 50px 10px 40px;
    border-radius: 0;
  }

  @media screen and (max-width: 500px) {
    margin: 0;
  }
}

.quiz__body {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.quiz__result {
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

.quiz__play_again {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz__img {
  display: inline-block;
  max-width: 300px;
  margin-bottom: 20px;
}

.quiz__btn {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
  padding: 14px 10px;
  border: 1px solid #fff;
  border-radius: 7px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #fff;
  background-color: darkblue;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }
}

.quiz__btn__result {
  @extend .quiz__btn;

  margin-bottom: 0;
  background-color: MediumSeaGreen;
}

.quiz__final {
  max-width: 400px;
  margin: 30px auto 0;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 25px;
  background-color: dodgerblue;

  @media screen and (max-width: 500px) {
    padding: 10px;
  }
}

.quiz__final__heading {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.quiz__final__item {
  display: flex;
}

.quiz__final__correct,
.quiz__final__user {
  
  span {
    display: inline-block;
    min-width: 100px;
    color: Lime;
  }
}

.quiz__final__correct {
  margin-right: 80px;

  @media screen and (max-width: 414px) {
    margin-right: 40px;
  }

  @media screen and (max-width: 360px) {
    margin-right: 5px;
  }
}

.quiz__final__user {
  @media screen and (max-width: 360px) {
    flex-grow: 1;
    padding-left: 5px;
  }
}

.quiz__final__wrong {
  span {
    color: firebrick;
  }
}